@font-face {
    font-family: "Mitra";
    src: url(../fonts/Mitra/Mitra-regular.woff) format("woff")
}
@font-face {
    font-family: "MitraB";
    font-weight: 700;
    src: url(../fonts/Mitra/Mitra-bold.woff) format("woff")
}
@font-face {
    font-family: 'Proxima';
    src: url(../fonts/Proxima-Nova/proximanova-regular-webfont.eot?1307578394);
    src: url("../fonts/Proxima-Nova/proximanova-regular-webfont.eot?iefix") format("eot"), url(../fonts/Proxima-Nova/proximanova-regular-webfont.woff?1307578394) format("woff"), url(../fonts/Proxima-Nova/proximanova-regular-webfont.ttf?1307578394) format("truetype"), url("../fonts/Proxima-Nova/proximanova-regular-webfont.svg#webfont2rpW2ohz") format("svg")
}
@font-face {
    font-family: 'Proxima';
    font-weight: 300;
    src: url(../fonts/Proxima-Nova/proximanova-light-webfont.eot?1307578394);
    src: url("../fonts/Proxima-Nova/proximanova-light-webfont.eot?iefix") format("eot"), url(../fonts/Proxima-Nova/proximanova-light-webfont.woff?1307578394) format("woff"), url(../fonts/Proxima-Nova/proximanova-light-webfont.ttf?1307578394) format("truetype"), url("../fonts/Proxima-Nova/proximanova-light-webfont.svg#webfont2rpW2ohz") format("svg")
}
@font-face {
    font-family: 'Proxima';
    font-weight: bold;
    src: url(../fonts/Proxima-Nova/proximanova-bold-webfont.eot?1307578394);
    src: url("../fonts/Proxima-Nova/proximanova-bold-webfont.eot?iefix") format("eot"), url(../fonts/Proxima-Nova/proximanova-bold-webfont.woff?1307578394) format("woff"), url(../fonts/Proxima-Nova/proximanova-bold-webfont.ttf?1307578394) format("truetype"), url("../fonts/Proxima-Nova/proximanova-bold-webfont.svg#webfont2rpW2ohz") format("svg")
}
body  , .progress-button{
    font-family: "Mitra";
}
h1 , h2 , h3 , h4 , h5 , h6 {
    font-family: "MitraB" !important;
    letter-spacing: -0.04em;
    word-spacing: -0.06em;

}
h1 span {
  color: #fff;
  display: inline-block;
  font-size: 3rem;
  letter-spacing: 0;
}
section {
    direction: rtl;
}

p {
    word-spacing:-0.1em;
}
.large-6 {
    width: 50%;
}
.column, .columns {
    float: right;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    position: relative;
}
.item-block {
    margin-bottom: 2rem;
}
.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.clearfix::after {
    clear: both;
}
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}
.large-3 {
    width: 25%;
}
#category-filter {
    background: #e9795d none repeat scroll 0 0;
}
.select-list-style .dropdown {
    -moz-border-bottom-colors: inherit;
    -moz-border-left-colors: inherit;
    -moz-border-right-colors: inherit;
    -moz-border-top-colors: inherit;
    background: white none repeat scroll 0 0;
    border-bottom: inherit;
    border-image: inherit;
    border-left: inherit;
    border-right: inherit;
    border-top: medium none;
    left: -1px;
    list-style: outside none none;
    margin-top: 1px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: -1px;
    top: 100%;
    transition: all 0.3s ease-out 0s;
    z-index: 99;
}
.last-right {
    float: right !important;
}
.count-product > label {
    display: inline-block !important;
    font-size: 1.3rem;
}
.count-product > input {
    background: #e4e2d2 none repeat scroll 0 0;
    border: medium none;
    display: inline-block;
    font-family: mitra;
    font-size: 1.3rem;
    height: 54px;
    margin-right: 0.5rem;
    padding: 0;
    text-align: center;
    width: 49px;
}
.tabs dd, .tabs .tab-title {
    float: right;
    list-style: outside none none;
    margin-bottom: 0 !important;
    position: relative;
}
.tab-title a::after {
    border-left: 3px solid #d4d2c2;
    content: "";
    height: 15px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 2px;
}
.active a {
    color: #979583;
}
.item--view .itembody .content ul li::after {
    color: #bbb498;
    content: "•";
    position: absolute;
    right: 15px;
    top: 9px;
}
.large-4 {
    width: 25%;
}
.large-8 {
    width: 75%;
}
/* Clearing Styles */
.clearing-thumbs, [data-clearing] {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0; }
.clearing-thumbs:before, .clearing-thumbs:after, [data-clearing]:before, [data-clearing]:after {
    content: " ";
    display: table; }
.clearing-thumbs:after, [data-clearing]:after {
    clear: both; }
.clearing-thumbs li, [data-clearing] li {
    float: left;
    margin-right: 10px; }
.clearing-thumbs[class*="block-grid-"] li, [data-clearing][class*="block-grid-"] li {
    margin-right: 0; }

.clearing-blackout {
    background: #333333;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
    left: 0; }
.clearing-blackout .clearing-close {
    display: block; }

.clearing-container {
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
    z-index: 998; }

.clearing-touch-label {
    color: #AAAAAA;
    font-size: .6em;
    left: 50%;
    position: absolute;
    top: 50%; }

.visible-img {
    height: 95%;
    position: relative; }
.visible-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    max-height: 100%;
    max-width: 100%; }

.clearing-caption {
    background: #333333;
    bottom: 0;
    color: #CCCCCC;
    font-size: 0.875em;
    line-height: 1.3;
    margin-bottom: 0;
    padding: 10px 30px 20px;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0; }

.clearing-close {
    color: #CCCCCC;
    display: none;
    font-size: 30px;
    line-height: 1;
    padding-left: 20px;
    padding-top: 10px;
    z-index: 999; }
.clearing-close:hover, .clearing-close:focus {
    color: #CCCCCC; }

.clearing-assembled .clearing-container {
    height: 100%; }
.clearing-assembled .clearing-container .carousel > ul {
    display: none; }

.clearing-feature li {
    display: none; }
.clearing-feature li.clearing-featured-img {
    display: block; }

@media only screen and (min-width: 40.0625em) {
    .clearing-main-prev,
    .clearing-main-next {
        height: 100%;
        position: absolute;
        top: 0;
        width: 40px; }
    .clearing-main-prev > span,
    .clearing-main-next > span {
        border: solid 12px;
        display: block;
        height: 0;
        position: absolute;
        top: 50%;
        width: 0; }
    .clearing-main-prev > span:hover,
    .clearing-main-next > span:hover {
        opacity: .8; }

    .clearing-main-prev {
        left: 0; }
    .clearing-main-prev > span {
        left: 5px;
        border-color: transparent;
        border-right-color: #CCCCCC; }

    .clearing-main-next {
        right: 0; }
    .clearing-main-next > span {
        border-color: transparent;
        border-left-color: #CCCCCC; }

    .clearing-main-prev.disabled,
    .clearing-main-next.disabled {
        opacity: .3; }

    .clearing-assembled .clearing-container .carousel {
        background: rgba(51, 51, 51, 0.8);
        height: 120px;
        margin-top: 10px;
        text-align: center; }
    .clearing-assembled .clearing-container .carousel > ul {
        display: inline-block;
        z-index: 999;
        height: 100%;
        position: relative;
        float: none; }
    .clearing-assembled .clearing-container .carousel > ul li {
        clear: none;
        cursor: pointer;
        display: block;
        float: left;
        margin-right: 0;
        min-height: inherit;
        opacity: .4;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: 120px; }
    .clearing-assembled .clearing-container .carousel > ul li.fix-height img {
        height: 100%;
        max-width: none; }
    .clearing-assembled .clearing-container .carousel > ul li a.th {
        border: none;
        box-shadow: none;
        display: block; }
    .clearing-assembled .clearing-container .carousel > ul li img {
        cursor: pointer !important;
        width: 100% !important; }
    .clearing-assembled .clearing-container .carousel > ul li.visible {
        opacity: 1; }
    .clearing-assembled .clearing-container .carousel > ul li:hover {
        opacity: .8; }
    .clearing-assembled .clearing-container .visible-img {
        background: #333333;
        height: 85%;
        overflow: hidden; }

    .clearing-close {
        padding-left: 0;
        padding-top: 0;
        position: absolute;
        top: 10px;
        right: 20px; } }

[class^="hvr-"] {
  background: #de563b none repeat scroll 0 0 ;
  color: #fff !important;
  cursor: pointer;
  font-size: 32px !important;
  margin: 0.1em !important;
  padding: 0.5em 0.2em !important;
  text-decoration: none;
  width: 100%;
}
.large-6 .progress-button {
  margin-bottom: 20px;
}
.good {
color: #1d9d74 !important
}
.bad {
color: #de563b !important
}
blockquote {
  background: #f9f9f9;
  border-right: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.container {
  margin: 60px auto;
  width: 400px;
  text-align: center;
}

.container .progress {
  margin: 0 auto;
  width: 400px;
}

.container .progress {
  padding: 4px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.container .progress-bar {
  height: 16px;
  border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */

#five:checked ~ .progress > .progress-bar {
  width: 5%;
  background-color: #f63a0f;
}

#twentyfive:checked ~ .progress > .progress-bar {
  width: 25%;
  background-color: #f27011;
}

#fifty:checked ~ .progress > .progress-bar {
  width: 50%;
  background-color: #f2b01e;
}

#seventyfive:checked ~ .progress > .progress-bar {
  width: 75%;
  background-color: #f2d31b;
}

#onehundred:checked ~ .progress > .progress-bar {
  width: 100%;
  background-color: #86e01e;
}

.radio {
  display: none;
}

.label {
  display: inline-block;
  margin: 0 0px 20px;
  padding: 3px 8px;
  color: #aaa;
  text-shadow: 0 1px black;
  border-radius: 3px;
  cursor: pointer;
}

.radio:checked + .label {
  color: white;
  background: rgba(0, 0, 0, 0.25);
}

